<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas las Reservas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Reservas</h1>
    <ul>
        <li th:each="reserva : ${reservas}">
            <h3 th:text="${reserva.getFuncion().getObra().getTitle()}"></h3>
            <p>Función: <span th:text="${#dates.format(reserva.getFuncion().getFuncionDate(), 'dd/MM/yyyy HH:mm')}"></span></p>
            <p>Sala: <span th:text="${reserva.getFuncion().getRoom().getName()}"></span></p>
            <p>Usuario: <span th:text="${reserva.getUser().getEmail()}"></span></p>
        </li>
    </ul>
</div>
</body>
</html>
