<!DOCTYPE html>
<html lang="es">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Salas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Gestión de Salas</h1>

    <form th:action="@{/gerente/rooms}" method="post">
        <input type="text" name="name" placeholder="Nombre de la sala" required />
        <input type="number" name="capacity" placeholder="Capacidad" required />
        <button type="submit">Agregar Sala</button>
    </form>

    <ul>
        <li th:each="room : ${rooms}">
            <h3 th:text="${room.getName()}"></h3>
            <p>Capacidad: <span th:text="${room.getCapacity()}"></span> asientos</p>
        </li>
    </ul>
</div>
</body>
</html>
